
Host classpass
    HostName 54.89.21.167
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host classpass_old
    HostName 52.91.80.212
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host buzz
    HostName 52.90.78.192
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host citibikes
    HostName 52.23.163.107
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host gate.mini
  HostName ec2-54-87-203-240.compute-1.amazonaws.com
  User Docurated
  Port 8022
  HostKeyAlias macmini
Host windowsbuild
  HostName windowsbuild
  User Administrator
Host docurated.nfs
  HostName ec2-50-17-45-211.compute-1.amazonaws.com
  User ubuntu

Host *.service
  HostName %h.us-east-1-production.consul
Host production*
  HostName %h.node.us-east-1-production.consul
Host demo*
  HostName %h.node.us-east-1-demo.consul
Host biomarin*
  HostName %h.node.us-west-2-biomarin.consul
  User sampaulmobile
  ProxyCommand ssh -A sampaulmobile@salt-biomarin.docurated.com nc %h %p
  StrictHostKeyChecking no
Host operations*
  HostName %h.node.us-east-1-operations.consul
Host *.service production* demo* operations*
  User sampaulmobile
  ProxyCommand ssh -A sampaulmobile@bastion.production.docurated.com nc %h %p
