
Host *
    UseKeychain yes
    AddKeysToAgent yes
    IdentityFile ~/.ssh/id_rsa_pro

Host classpass
    HostName 52.205.179.64
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host classpass_old
    HostName 54.89.21.167
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host classpass_older
    HostName 52.91.80.212
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host buzz
    HostName buzz.linktothecode.com
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host buzz_old
    HostName 52.90.78.192
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host citibikes
    HostName 52.23.163.107
    User ubuntu
    Port 22
    IdentityFile ~/.ssh/sampaul.pem

Host gate.mini
  HostName ec2-54-87-203-240.compute-1.amazonaws.com
  User Docurated
  Port 8022
  HostKeyAlias macmini

Host tableau_demo
    HostName 172.18.1.77
    User Administrator
    Port 22
    IdentityFile ~/.ssh/id_rsa_pro

Host windowsbuild
  HostName windowsbuild
  User Administrator

Host docurated.nfs
  HostName ec2-50-17-45-211.compute-1.amazonaws.com
  User ubuntu

Host production* demo* stage* operations* biomarin*
  # UseRoaming no
  User sampaulmobile

Host production*
  HostName %h.node.us-east-1-production.consul
Host demo*
  HostName %h.node.us-east-1-demo.consul
Host stage*
  HostName %h.node.us-east-1-stage.consul
Host operations*
  HostName %h.node.us-east-1-operations.consul
Host biomarin*
  HostName %h.node.us-west-2-biomarin.consul
